@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

:root {
  --green: #088178;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  padding: 15px 30px;
  background: #fff;
  color: #000;
  border-radius: 4px;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

button.white {
  padding: 11px 18px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  transition: 0.4s;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

body {
  width: 100%;
}

/* Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  position: relative;
  padding: 0 20px;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--green);
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  position: absolute;
  width: 30%;
  background: var(--green);
  height: 2px;
  bottom: -4px;
  left: 20px;
}

/* Home Page */
#hero {
  background-image: url(./images/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: var(--green);
}

#hero button {
  background-image: url(./images/button.png);
  border: none;
  color: var(--green);
  font-weight: 700;
  font-size: 15px;
  background-color: transparent;
  padding: 15px 80px 10px 65px;
  cursor: pointer;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .feature-box {
  text-align: center;
  border: 1px solid #cce7d0;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  width: 180px;
  padding: 25px 15px;
  margin: 15px 0;
}

#feature .feature-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .feature-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .feature-box h6 {
  display: inline-block;
  color: var(--green);
  line-height: 1;
  background-color: #fddde4;
  border-radius: 4px;
  padding: 9px 8px 6px 8px;
}

#feature .feature-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .feature-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .feature-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .feature-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .feature-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#product-1 {
  text-align: center;
}

#product-1 .product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

#product-1 .product {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
  position: relative;
}

#product-1 .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product-1 .product img {
  width: 100%;
  border-radius: 20px;
}

#product-1 .product .desc {
  text-align: start;
  padding: 10px 0;
}

#product-1 .product .desc span {
  color: #606063;
  font-size: 12px;
}

#product-1 .product .desc h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product-1 .product .desc i {
  color: rgb(243, 181, 25);
}

#product-1 .product .desc h4 {
  color: var(--green);
  font-weight: 700;
  padding-top: 7px;
  font-size: 15px;
}

#product-1 .product a {
  position: absolute;
  bottom: 10px;
  border-radius: 50px;
  border: 1px solid #cce7d0;
  right: 10px;
  width: 40px;
  height: 40px;
  line-height: 44px;
  background-color: #e8f6ea;
  color: var(--green);
  font-size: 18px;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(./images/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-position: center;
  background-size: cover;
}

#banner h4 {
  color: #fff;
  font-size: 16px;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background: var(--green);
  color: #fff;
}

#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(./images/banner/b17.jpg);
  min-width: 645px;
  height: 50vh;
  background-position: center;
  background-size: cover;
  padding: 30px;
  cursor: pointer;
}

#sm-banner h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
}

#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}

#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: var(--green);
  border: 1px solid var(--green);
}

#sm-banner .banner-box-2 {
  background-image: url(./images/banner/b10.jpg);
}

#banner-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
}

#banner-3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  background-image: url(./images/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

#banner-3 .banner-box-2 {
  background-image: url(./images/banner/b4.jpg);
}

#banner-3 .banner-box-3 {
  background-image: url(./images/banner/b18.jpg);
}

#banner-3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

#banner-3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 15px;
}

#newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-image: url(./images/banner/b14.png);
  background-repeat: no-repeat;
  background-color: #041e42;
  background-position: 20% 30%;
}

#newsletter h4 {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
}

#newsletter p {
  font-size: 14px;
  color: #818ea0;
  font-weight: 600;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  width: 100%;
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  border: 1px solid transparent;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#newsletter button {
  background: var(--green);
  color: #fff;
  white-space: nowrap; /* văn bản sẽ hiển thị trên cùng 1 hàng */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
